include LICENSE
include README.md
include setup.py
include pyproject.toml
include pytest.ini
include .coverage.rc

include tsconfig.json
include package.json
include webpack.config.js
include tvbwidgets/labextension/*.tgz

recursive-include tvbwidgets/logger *

# Examples
graft notebooks

# Tests
graft tests
prune tests/build

# Javascript files
graft tvbwidgets/nbextension
graft frontend/src
graft frontend/css
prune **/node_modules
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints