colorcet
ebrains_drive
ipympl>0.8.5
ipywidgets==8.0.7
IPython<=8.12
joblib
mne>=1.0
numpy
plotly==5.14.0
pythreejs
pyvista>=0.43.0
ipyreact>=0.4.1
trame
trame-vuetify
trame-vtk
tvb-library
tvb-framework
plotly-resampler
pyunicore>=1.0.0
traitlets>=5.7.1
toml
bokeh
