name: Build
on:
  push:
    branches:
      - '*'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9" ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install scipy numpy tvb-library ebrains_drive ipywidgets==7.7.2
          python -m pip install pythreejs pyvista colorcet plotly
          python -m pip install ipympl mne
          python -m pip install pytest pytest-cov pytest-mock tvb-data
          python -m pip install nbformat nbconvert
          python -m pip install tvb-framework
          python -m pip install dask

      - name: Test with pytest
        run: |
          pytest

      - name: Compute coverage
        run: |
          pytest -v  --cov --cov-report=xml

      - name: Run notebooks
        run: |
          xvfb-run python ./dev/notebook_runner.py notebooks

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
